@import "variable", "default";

body {
    background-color: $Primary_Color1;
}

/*---------------------------------------------header-section--------------------------------------------------------*/
.bg-color {
    background-color: $Primary_Color2;
    box-shadow: 0px 1px 5px 1px #0000007d;
    position: sticky;
    top: 0px;
    position: relative;

    .heading {
        font-size: 20px;
        font-family: $Roboto_Medium;
    }

    .form-button {
        font-family: $Roboto_Regular;
        cursor: pointer;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        .heading {
          font-size: 16px;
        }

        .form-button {
          font-size: 12px;
          cursor: pointer;
        }
    }

    @media (max-width: 575.98px) {
        .heading {
          font-size: 16px;
        }

        .form-button {
          font-size: 12px;
          cursor: pointer;
        }
    }
}
/*---------------------------------------------header-section--------------------------------------------------------*/



/*---------------------------------------------form-section--------------------------------------------------------*/
.form-body {
    margin: 0vw 20vw;
    background-color: $Primary_Color2;

    .input-form-class {
        margin-bottom: 2vw;

        .event-datalist {
            border: none;
            border-bottom: 3px solid black;

            &:focus {
                outline: none;
            }
        }

        .max-character {
            color: grey;
        }

        .textarea-input:focus {
            outline: none;
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .form-container .form-body {
      margin: 0vw 10vw;

        .input-form-class, .attachment {
            font-size: 12px;

            .event-datalist {
                border-bottom: 2px solid black;
            }

            .max-character {
                font-size: 10px;
            }
        }
    }
}

@media (max-width: 575.98px) {
    .form-container .form-body {
        margin: 0vw 4vw;
  
          .input-form-class, .attachment {
              font-size: 12px;

              .event-datalist {
                border-bottom: 1px solid black;
            }
  
              .max-character {
                  font-size: 10px;
              }
          }
      }
}


.toggle-switch {
    background-color: grey;
    height: 10px;
    width: 30px;
    border-radius: 3px;

    .circle {
        margin-top: -2.5px;
        margin-left: -3px;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: black;
        transition: transform 500ms ease;
    }

    .transform-class {
                transform: translateX(19px);
    }
}
/*---------------------------------------------form-section--------------------------------------------------------*/



/*---------------------------------------------snack-bar--------------------------------------------------------*/
.snackbar {
    position: sticky;
    bottom: 20px;
    margin-left: auto;
    right: 30px;
    color: white;
    background-color: #f44336;
    width: 350px;
    height: 45px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
                0px 6px 10px 0px rgba(0, 0, 0, 0.14),
                0px 1px 18px 0px rgba(0, 0, 0, 0.12);

    .attention {
        filter: invert(1);
        width: 25px;
    }

    .xcross {
        filter: invert(1);
        width: 20px;
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        .attention {
            width: 20px;
        }
        
        .xcross {
            width: 16px;
        }
    }

    @media (max-width: 575.98px) {
        .attention {
            width: 20px;
        }
        
        .xcross {
            width: 16px;
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .snackbar {
        width: 280px;
        font-size: 12px;
        height: 35px;
    }
}

@media (max-width: 575.98px) {
    .snackbar {
        right: 10px;
        width: 280px;
        font-size: 12px;
        height: 35px;
    }
}
/*---------------------------------------------snack-bar--------------------------------------------------------*/


/*---------------------------------------------model--------------------------------------------------------*/
.model-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.685);

    .model-card {
        position: sticky;
        top: 100px;
        margin-top: 100px;
        height: 240px;
        border-radius: 5px;
        background-color: white;

        .data-info-heading {
            font-size: 20px;
        }

        .close-model {
            width: 20px;
        }

        .data-info {
            color: grey;
            display: block;
        }

        .data-title {
            color: black;
            width: 150px;
        }
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
        .model-card {
            height: 190px;

            .data-info-heading {
                font-size: 16px;
            }

            .data-info {
                font-size: 12px;
            }

            .close-model {
                width: 16px;
            }
        }
    }
    
    @media (max-width: 575.98px) {
        .model-card {
            height: 190px;

            .data-info-heading {
                font-size: 16px;
            }

            .data-info {
                font-size: 12px;
            }

            .close-model {
                width: 16px;
            }
        }
    }
}
/*---------------------------------------------model--------------------------------------------------------*/

/*---------------------------------------------Result--------------------------------------------------------*/
.result-body {
    .heading {
        font-size: 20px;
        font-family: $Roboto_Medium;
    }

    .data-title {
        color: black;
        min-width: 150px;
    }
}
/*---------------------------------------------Result--------------------------------------------------------*/